<html>
    <head>
        <title>Failure Page!</title>
        <link type="text/css" rel="stylesheet" href="../public/styles/mystyle.css"/>
    </head>
    <body>
        <h1> <%=uname %> , <%=msg %> </h1>

        <img src="../public/images/logo.png"/>
    </body>